{% include "supplier/partials/head.html" %}
<body>


  {% include "global/partials/header.html" %}

    <main>
      <div class="content">
        <div>
            <a href="/supplier"><button>Voltar</button></a>
        </div>
          <div>
            <h2>{{supplier.nome}}</h2>
            <p>{{supplier.email}}</p>
            <p>{{supplier.contato}}</p>
            <p>{{supplier.cnpj}}</p>
            <p>{{supplier.rg}}</p>
            <p>{{supplier.ie}}</p>
            <p>{{supplier.rua}}, {{supplier.numero}}, {{supplier.bairro}}, {{supplier.cidade}}, {{supplier.estado}}, {{supplier.cep}}</p>
          </div>
          
      </div>
       <footer>footer aqui</footer>
    </main>
    
</body>
</html>