{% include "supplier/partials/head.html" %}
<body>


    {% include "supplier/partials/header.html" %}

    <main>
      <div class="content">
        <a href="/supplier/register"><button>Cadastrar +</button></a>
        <div class="filter">
          <form action="" method="post">
            <h5>Filtro</h5>
            <input type="text" placeholder="name client" name="name">
            <input type="text" placeholder="cpf client" name="name">
            <button>Search</button>
          </form>
        </div>
          <div>
            <h2>Fornecedores</h2>
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>CPF ou CPNJ</th>
                  <th>Contato</th>
                </tr>
              </thead>
              <tbody>
                {% for fornecedor in fornecedores%}
                <tr>
                  <td><a href="supplier/details_supplier/{{fornecedor.id}}"><strong>{{fornecedor.nome}}</strong></a></td>
                  <td>{{fornecedor.cnpj}}</td>
                  <td>{{fornecedor.contato}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
       <footer>footer aqui</footer>
    </main>
    
</body>
</html>