{% include "payment/partials/head.html" %}
<body>
    {% include "global/partials/header.html" %}
 

    <main>
<body>


    <div>
    <h1>Bem-vindo à Página de Pagamento</h1>
    <!-- Link para a URL com nome 'home_payment' -->
    <a href="{% url 'home_payment' %}"><button>Painel</button></a>
    
    <a href="{% url 'new_payment' %}"><button>Cadastrar Pagamento</button></a>
    <a href="{% url 'search_payment' %}"><button>Consultar Pagamento</button></a>
</div>



</main>

<footer>footer</footer>
</body>
</html>






