.nav-bar{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: auto;
    background-color:#04061d ;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: auto;
    gap: 25px;
}

.nav-link{
    list-style: none;
    text-decoration: none;
    color: white;
}
.nav-menu a{
    color: white;
}
.nav-link li{
    display: flex;
    gap: 10px;
}
summary {
    color: white;
}