<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header></header>
  <main>
    <h1>BUSCAR VENDA</h1>

    <form action="">
      <input type="text" placeholder="nome-cliente" name="name">
      <input type="text" placeholder="cpf-cliente" name="name">
      <input type="text" placeholder="cnpj-cliente" name="name">
      <input type="text" placeholder="numero-venda" name="name">
    </form>
    <button>Buscar</button>
  </main>

  <footer></footer>
  
</body>
</html>