<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
  <header>

  </header>

  <main>
    <input type="text" placeholder="nome-product" name="name">
    <input type="text"  placeholder="id-product" name="name">
    <input type="text"  placeholder="nome-supplier" name="name">
    <input type="text"  placeholder="valor-product" name="name">

      <table>
        
          <thead>
              <tr>
                  <th>Codigo</th>
                  <th>Nome</th>
                  <th>Descricao</th>
                  <th>Quantidade</th>
                  <th>Valor</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>123</td>
              <td>caneta azul</td>
              <td>manoel gomes</td>
              <td>100</td>
              <td>R$10.00</td>
            </tr>
          </tbody>
      </table>

  </main>

  <footer>

  </footer>
  
</body>
</html>