<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendas</title>
</head>
<body>
  <header></header>

  <main>
    <h1>NOVA VENDA</h1>
     <form action="">
      <input type="text" placeholder="CPF/CNPJ cliente" name="name">
      <input type="text" placeholder="nome cliente" name="name">
      <input type="text" placeholder="id vendedor" name="name">
      <input type="text" placeholder="nome vendedor" name="name">
      <input type="text" placeholder="id product" name="name">
      <input type="text" placeholder="nome product" name="name">
      <input type="text" placeholder="Sem comentario" name="name">
     </form>
     <button>Adicionar Venda</button>

     


         


    <footer></footer>
  </main>

  <footer></footer>
  
</body>
</html>