{% include "budget/partials/head.html" %}



<body>
    {% include "budget/partials/header.html" %}
 
   <main>
    <div class="content">
      
        <h3>Consultar Orcamento</h3>
        {% for orcamento in  budget %}
        
        
        
         <p>{{orcamento.produto}}</p>
         <p>{{orcamento.quantidade}}</p>
         <p>{{orcamento.valor_unitario}}</p>
         <p>{{orcamento.valor_total}}</p>
         
         
        
        {% endfor %}
        </div>
    </div>
    <footer>aqui está o footer</footer>
   </main>

   
 
 
</body>
</html>