{% include "sales/partials/head.html" %}
<body>
  
  {% include "sales/partials/header.html" %}
  <main>
    <div class="content">
      <div class="sub_menu">
        <a href="/sales"><button>Painel</button></a>
        <a href="/sale/new-sale"><button>Nova Venda</button></a>
        <a href="/sales/searchsales"><button>Consultar Vendas</button></a>
      </div>
      <div>
        <div class="card_datas">
            <p>AQui Ficara dados de vendas</p>
            <p>um card com informaçoes</p>
            <p>como valor de venda</p>
            <p>quantidade vendida no mes</p>
        </div>
      </div>
    </div>
    <footer>footer</footer>
  </main>
</body>
</html>