<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales</title>
</head>
<body>
  <header></header>

  <main>
    <h1>NEW SALE</h1>
     <form action="">
      <input type="text" placeholder="CPF/CNPJ client" name="name">
      <input type="text" placeholder="nome client" name="name">
      <input type="text" placeholder="id sller" name="name">
      <input type="text" placeholder="nome seller" name="name">
      <input type="text" placeholder="id product" name="name">
      <input type="text" placeholder="name product" name="name">
      <input type="text" placeholder="No comment" name="name">

      <button>ADD SALE</button>
     </form>
    

     


         


    <footer></footer>
  </main>

  <footer></footer>
  
</body>
</html>