{% include "receive/partials/head.html" %}
<body>
  <header>
    {% include "global/partials/header.html" %}
  </header>
  <main>
    <div class="sub_menu">
      <a href="receive/home"><button>Painel</button></a>
      <a href="/sale/new-sale"><button>Nova Venda</button></a>
      <a href="receive/searchreceive"><button>Consultar Vendas</button></a>
    </div>
    <h1>{{nome}} - {{num_venda}}</h1>
    <div>
      {% for produto in products  %}
      <p>{{produto.num_sale}}</p>
      <p>{{produto.data_venda}}</p>
      <p>{{produto.produto}}</p>
      <p>{{produto.valor_unitario}}</p>
      <p>{{produto.quantidade}}</p>
      <p>{{produto.valor_total}}</p>
      {% endfor %}
    </div>
  </main>

  <footer></footer>
  
</body>
</html>