{% include "client/partials/head.html" %}
<body>


  {% include "global/partials/header.html" %}

    <main>
      <div class="content">
        <div>
            <a href="/client"><button>Voltar</button></a>
        </div>
          <div>
            <h2>{{client.nome}}</h2>
            <p>{{client.email}}</p>
            <p>{{client.telefone}}</p>
            <p>{{client.cpf_cnpj}}</p>
            <p>{{client.rg}}</p>
            <p>{{client.ie}}</p>
            <p>{{client.rua}}, {{client.numero_casa}}, {{client.complemento}}, {{client.bairro}}, {{client.cidade}}, {{client.estado}}</p>
          </div>
          
      </div>
       <footer>footer aqui</footer>
    </main>
    
</body>
</html>