{% include "employee/partials/head.html" %}
<body>
    {% include "global/partials/header.html" %}

    <main>
        <div class="content">
            <h1>opa</h1>  <!-- Verifique se isso está correto -->

            <div class="button-container">
            <a href="{% url 'employee_home' %}"><button>Painel</button></a>
            <a href="{% url 'new_employee' %}"><button>Novo Funcionário</button></a>


            <a href="{% url 'search_employee' %}"><button>Consultar Funcionário</button></a>
        </div>
        </div>
       
    <div class="footer">
        <footer>footer aqui</footer>
    </div>
    </main>
    

    <style>
      

        .content {
        width: 85vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em; /* Espaçamento entre o título e o contêiner de botões */
        }

        .button-container {
        display: flex;
        flex-direction: row; /* Coloca os botões lado a lado */
        gap: 0.5em; /* Espaçamento entre os botões */
        }

        h1 {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        .footer{
            margin-top: 0px;
            height: 1px;
            padding-top: 0px;

        }
    </style>

</body>
</html>
