<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Client</title>
</head>
<body>
  <header></header>
  

  <main>
    <form action="">
      <h1>Search Client</h1>
  
      <form action="">
        <input type="text" placeholder="name client" name="name">
        <input type="text" placeholder="cpf client" name="name">
        <input type="text" placeholder="cnpj client" name="name">
        <input type="text" placeholder="date client" name="name">
        
        <button>Search</button>
      </form>

  </main>

  <footer></footer>
  
</body>
</html>